@import "../../_globalColor";

.prof-title {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

.row {
    display: flex;
}

.main-content-profile {
    flex: 80%;
}

.subTitle {
    color: $subTitle;
}

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .main-content-profile {
        text-align: center;
        order: 2;
    }

    .prof-title {
        padding-bottom: 1rem;
        font-size: 32px;
        text-align: center;
    }
}